<!-- carousel -->
<div class="carousel">
  <button class="carousel-control prev" (click)="onLeftArrowClicked()">
    <fa-icon [icon]="faChevronLeft"></fa-icon>
  </button>
  <div class="slide-container">
    <div *ngFor="let slide of slides; let i = index">
      <img alt="" [src]="slide.src" class="slide slide-image" [ngClass]="'image-'+ i + ' ' + (i == 0 ? '' : 'transparent')" />
      <div class="bottom-left-text" [ngClass]="'text-'+ i + ' ' + (i == 0 ? '' : 'transparent')">{{slide.title}}</div>
    </div>
  </div>
  <button class="carousel-control next" (click)="onRightArrowClicked()">
    <fa-icon [icon]="faChevronRight"></fa-icon>
  </button>
</div>
