<app-nav-bar></app-nav-bar>
<app-carousel></app-carousel>
<app-slider [id]="'1'" [genre]="GenreEnum.Action"></app-slider>
<app-slider [id]="'2'" [genre]="GenreEnum.Adventure"></app-slider>
<app-slider [id]="'3'" [genre]="GenreEnum.Animation"></app-slider>
<app-slider [id]="'4'" [genre]="GenreEnum.Comedy"></app-slider>
<app-slider [id]="'5'" [genre]="GenreEnum.Crime"></app-slider>
<app-slider [id]="'6'" [genre]="GenreEnum.Documentary"></app-slider>
<app-slider [id]="'7'" [genre]="GenreEnum.Drama"></app-slider>
<app-slider [id]="'8'" [genre]="GenreEnum.Family"></app-slider>
<app-slider [id]="'9'" [genre]="GenreEnum.Fantasy"></app-slider>
<app-slider [id]="'10'" [genre]="GenreEnum.Noir"></app-slider>
<app-slider [id]="'11'" [genre]="GenreEnum.History"></app-slider>
<app-slider [id]="'12'" [genre]="GenreEnum.Horror"></app-slider>
<app-slider [id]="'13'" [genre]="GenreEnum.Musical"></app-slider>
<app-slider [id]="'14'" [genre]="GenreEnum.Mystery"></app-slider>
<app-slider [id]="'15'" [genre]="GenreEnum.Romance"></app-slider>
<app-slider [id]="'16'" [genre]="GenreEnum.Science"></app-slider>
<app-slider [id]="'17'" [genre]="GenreEnum.Thriller"></app-slider>
<app-slider [id]="'18'" [genre]="GenreEnum.War"></app-slider>
<app-slider [id]="'19'" [genre]="GenreEnum.Western"></app-slider>
