<div class="genre-title-style">{{genre}}</div>
<div class="slider-component-container">
  <div class="slide-picture-container" [ngClass]="'slide-picture-container-'+id">
    <ng-container *ngFor="let slide of slides">
      <div class="slide-picture">
        <img class="slide-picture-img" width=400 height=400 alt="" src="{{slide.src}}">
        <div class="bottom-left-picture-title">{{slide.title}}</div>
      </div>
    </ng-container>
  </div>
  <div class="button-overlay">
    <button class="slider-control-left prev" (click)="onLeftArrowClicked()">
      <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <button class="slider-control-right next" (click)="onRightArrowClicked()">
      <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
  </div>
</div>
